__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
.env.local
.env.*.local
*.sqlite3
*.db

# VS Code
.vscode/

# Docker
*.log

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Node
node_modules/
